---
layout: default
titleAfter: A Catalyst for Change
meta: Cannabis Wheaton is fundamentally shifting two paradigms in the Cannabis space – The traditional investment model and how the industry works together.
---

{% include bg-video.html %}

<iframe class="ticker" width="-100" noresize="noresize" scrolling="no" height="20" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=51798"></iframe>

{% include home-about.html %}

{% include home-connect.html %}

{% include home-team.html %}
