<section class="bg-video clearfix">
  <div class="video-text-overlay text-center">
    <h1 class="hero-header way">A true catalyst for change</h1>
    <h2 class="hero-sub">By shifting the traditional investment paridigm and bringing together the leading team in the space, Cannabis Wheaton is redefining the cannabis industry.
    </h2>
  </div>

  <div class="video-dots">
  </div>

  <div class="fullscreen-bg">
    <video muted loop autoplay poster="https://res.cloudinary.com/dtbrkt2ur/image/upload/v1491316366/kscope-b-home_d2pjtb.jpg" class="fullscreen-bg__video">
        <source src="https://res.cloudinary.com/dtbrkt2ur/video/upload/v1491329572/web-background-480p_2_h2i7xm.mov">
    </video>
  </div>
  <a class="down-arrow" href="#smooth" id="smooth">
    <svg class="arrow">
      <path class="a1" d="M0 40 L30 72 L60 40"></path>
    </svg>
  </a>
</section>
