<section class="bg-video clearfix">
  <div class="video-text-overlay text-center">
    <h1 class="hero-header way">We are the world's first cannabis streaming company</h1>
    <h2 class="hero-sub">Cannabis Wheaton is fundamentally shifting two paradigms in the cannabis space—the traditional investment model and how the industry works together. Our platform creates wider channels of opportunities for both investors and cannabis cultivators.<br><br>Our foundation is built upon a market-tested model and applied with a fresh approach by leading experts in the cannabis industry.
    </h2>
  </div>

  <div class="video-dots">
  </div>

  <div class="fullscreen-bg">
    <video autoplay='true' loop='true' muted='true' muted loop autoplay poster="http://cannabiswheaton.co/images/poster.jpg" class="fullscreen-bg__video">
        <source src="http://cannabiswheaton.co/images/bg-vid.mp4">
    </video>
  </div>
  <a class="scroll-arrow" href="#smooth" id="smooth">
    <svg class="arrow">
      <path class="a1" d="M0 40 L30 72 L60 40"></path>
    </svg>
  </a>
</section>
