<footer id="footer">
  <div class="footer-wrap">
    <div class="footer-nav">
      <a class="footer-link" href="{{site.baseurl}}/about" onclick="closeNav()">About Us</a>
      <a class="footer-link" href="{{site.baseurl}}/team" onclick="closeNav()">Team</a>
      <a class="footer-link" href="{{site.baseurl}}/contact" onclick="closeNav()">Contact</a>
    </div>
    <div class="soshmeeds">
      <a class="sosh-link" href="https://facebook.com/canwheaton">Facebook</a>
      <a class="sosh-link" href="https://twitter.com/cannabiswheaton">Twitter</a>
      <a class="sosh-link" href="https://linkedin.com/company-beta/18043832">LinkedIn</a>
    </div>
    <div class="footer-inquiries">
      <p class="footer-inq">INVESTOR RELATIONS</p>
      <p class="footer-inq">604 667 7130</p>
      <p class="footer-inq">mario@skanderbegcapital.com</p>
      <p class="footer-inq"><a class="foot-link" href="http://skanderbegcapital.com">skanderbegcapital.com</a></p>
    </div>
    <div class="footer-sm">
      <div class="footer-copyright">
        <p class="copyright">© 2017 Cannabis Wheaton Income Corp.</p>
      </div>
      <div class="delay">
        <p>* Quote delayed by 20 minutes</p>
      </div>
    </div>
  </div>
</footer>
