<footer>
  <div class="footer-wrap">
    <div class="footer-nav">
      <a class="footer-link" href="{{site.baseurl}}/" onclick="closeNav()">Home</a>
      <a class="footer-link" href="{{site.baseurl}}/about" onclick="closeNav()">About Us</a>
      <a class="footer-link" href="{{site.baseurl}}/team" onclick="closeNav()">Team</a>
      <a class="footer-link" href="{{site.baseurl}}/investors" onclick="closeNav()">Investors</a>
      <a class="footer-link" href="{{site.baseurl}}/contact" onclick="closeNav()">Contact</a>
    </div>
    <div class="footer-group">
      <div class="soshmeeds">
        <a class="sosh-link" href="https://facebook.com/canwheaton"><img src="{{site.baseurl}}/svgs/fb-icon.svg"></a>
        <a class="sosh-link" href="https://twitter.com/cannabiswheaton"><img src="{{site.baseurl}}/svgs/tw-icon.svg"></a>
        <a class="sosh-link" href="https://linkedin.com/company-beta/18043832"><img src="{{site.baseurl}}/svgs/in-icon.svg"></a>
      </div>
      <div class="footer-sm">
        <!--<div class="delay">
          <p>* Quote delayed by 20 minutes</p>
        </div>-->
        <div class="footer-copyright">
          <p class="copyright">© 2017 Cannabis Wheaton Income Corp.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
