<section class="connect-hero">
  <div class="hero-text text-center">
      <h1 class="hero-header">Coast-to-Coast Network</h1>
      <h2 class="hero-sub">
        We are building a pan-Canadian network of streaming partners that will define the future of the industry. Cannabis Wheaton is laying the groundwork and facilitating the connections between licensed producers and consumers.
      </h2>
      <a href="{{site.baseurl}}/contact" class="svg-wrapper-two">
        <svg height="40" width="130" xmlns="http://www.w3.org/2000/svg">
          <rect class="button-shape" height="40" width="130" />
        </svg>
        <div class="button-text">Get Connected</div>
      </a>
  </div>
  <div class="hero-img">
    <img class="map-graphic" src="{{site.baseurl}}/svgs/map3.svg" alt="The network we are building stretches from coast to coast. This map illustrates our connectivity.">
  </div>
</section>
