<section class="connect-hero">
  <div class="hero-text text-center">
      <h1 class="hero-header">Coast-to-coast network</h1>
      <h2 class="hero-sub">
        We are building a pan-Canadian network of streaming partners that will define the future of the industry.
      </h2>
      <a class="button-light" href="{{site.baseurl}}/contact">Get connected</a>
  </div>
  <div class="hero-img">
    <img class="img-oversize" src="https://res.cloudinary.com/dtbrkt2ur/image/upload/v1491331555/Asset_2_q9frur.png" alt="The network we are building stretches from coast to coast. This map illustrates our connectivity.">
  </div>
</section>
