<section id="home-team" class="text-section">
  <div class="para-box">
    <h2 class="para-header-alt">
      Our success is derived from the sum of our parts.
    </h2>
    <div class="para-body">
      <p class="pad-b">
        Our management team is comprised of industry ﬁrst-movers, visionaries and thought leaders, dedicated to creating value for our partners and the cannabis industry. Collectively, the individuals of Cannabis Wheaton have a depth of knowledge from retail, branding, finance and technology.
      </p>
      <div class="text-center">
        <a class="button-dark text-center" href="{{site.baseurl}}/team">Meet the team</a>
      </div>
    </div>
  </div>
</section>
