<nav>
  <a href="{{site.baseurl}}/">
    <img class="cw-logo" src="{{site.baseurl}}/svgs/cw-logo.svg" alt="Cannabis Wheaton logo">
  </a>

  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <div class="overlay-content">
    <a href="{{site.baseurl}}/about" onclick="closeNav()">ABOUT US</a>
    <a href="{{site.baseurl}}/team" onclick="closeNav()">TEAM</a>
    <a href="{{site.baseurl}}/contact" onclick="closeNav()">CONTACT</a>
  </div>

  </div>
  <span onclick="openNav()" class="hamburger">
    <img src="{{site.baseurl}}/svgs/hamburg-g.svg" class="ham-bars">
  </span>
</nav>
