<nav>
  <a href="{{site.baseurl}}/">
    <img class="cw-logo" src="{{site.baseurl}}/svgs/cw-logo.svg" alt="Cannabis Wheaton logo">
  </a>

  <div id="myNav" class="overlay" onclick="closeNav()">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="{{site.baseurl}}/" onclick="closeNav()">HOME</a>
      <a href="{{site.baseurl}}/about" onclick="closeNav()">ABOUT US</a>
      <a href="{{site.baseurl}}/team" onclick="closeNav()">TEAM</a>
      <a href="{{site.baseurl}}/contact" onclick="closeNav()">CONTACT</a>
    </div>
  </div>

  <div class="stock-ticker">
    <div class="symbol"></div>
    <div class="ask"></div>
    <div class="asterisk">*</div>
    <div class="change"></div>
  </div>

  <div class="arrows">
    <div class="up-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.06 100.27">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <polyline points="7.07 93.2 86.13 14.14 164.99 93.01" fill="none" stroke="#a6c09a" stroke-miterlimit="10" stroke-width="20"/>
          </g>
        </g>
      </svg>
    </div>
    <div class="down-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.06 100.27">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <polyline points="164.99 7.07 85.94 86.13 7.07 7.26" fill="none" stroke="#a6c09a" stroke-miterlimit="10" stroke-width="20"/>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <span onclick="openNav()" class="hamburger">
    <img src="{{site.baseurl}}/svgs/hamburg-g.svg" class="ham-bars">
  </span>
</nav>
