$green: #a6c09a;
$navy: #2B3036;
$grey: #434549;

.txt-green {
  color: $green;
}

.txt-navy {
  color: $navy;
}

.txt-grey {
  color: $grey;
}

.bg-green {
  background-color: $green;
}

.bg-navy {
  background-color: $navy;
}

.bg-grey {
  background-color: $grey;
}

.white-bg {
  background-color: #fff; 
}
