$green: #a6c09a;
$navy: #2B3036;
$m-navy: #4b4e53;
$grey: #434549;
$m-grey: #888;
$l-grey: #f1f1f2;

.text-green {
  color: $green;
}

.text-navy {
  color: $navy;
}

.text-grey {
  color: $grey;
}

.bg-green {
  background-color: $green;
}

.bg-navy {
  background-color: $navy;
}

.bg-grey {
  background-color: $grey;
}
