.button-dark {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: $navy;
  padding: 1rem;
  display: block;
  margin: 0 auto 0 0;
  border: 1px solid $navy;
  width: 50%;
  transition: .2s all ease-in;
  &:hover {
    color: #fff;
    background-color: $navy;
  }
}

.button-light {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  border: 1px solid #fff;
  width: 50%;
  transition: .2s all ease-in;
  &:hover {
    color: $navy;
    background-color: #fff;
  }
  @include bp(phone) {
    width: 40%;
  }
  @include bp(tablet) {
    width: 20%;
  }
}

.img-flex {
  width: 100%;
}

.img-oversize {
  width: 200%;
  transform: translateX(-25%);
  z-index: 1;
  @include bp(desktop) {
    width: 120%;
    transform: translateX(-9%);
  }
}

.hero-img {
  height: 100%;
}

.img-banner {
  height: 130%;
  transform: translateX(-16%);
  @include bp(tablet) {
    transform: translateX(0);
  }
  @include bp(desktop) {
    height: auto;
    width: 100vw;
    transform: translateX(0);
  }
}
