// button styles
.button-dark {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: $navy;
  padding: 1rem;
  margin: 0 auto 0 0;
  border: 1px solid $navy;
  width: 50%;
  transition: .2s all ease-in;
  &:hover {
    color: #fff;
    background-color: $navy;
  }
  @include bp(phone) {
    width: 130px;
  }
}

.button-light {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid #fff;
  width: 50%;
  transition: .2s all ease-in;
  &:hover {
    color: $navy;
    background-color: #fff;
  }
  @include bp(phone) {
    width: 130px;
  }
}

.svg-wrapper-one {
  text-decoration: none;
  height: 40px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  cursor: pointer;
  .button-shape {
    fill: transparent;
    stroke-dasharray: 120 520;
    stroke-dashoffset: -172;
    stroke-width: 5px;
    stroke: $green;
  }
  .button-text {
    color: $navy;
    font-family: $weiss;
    font-size: 12px;
    line-height: 32px;
    position: relative;
    top: -43px;
  }
}

.svg-wrapper-two {
  text-decoration: none;
  height: 40px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  cursor: pointer;
  .button-shape {
    fill: transparent;
    stroke-dasharray: 120 520;
    stroke-dashoffset: -172;
    stroke-width: 5px;
    stroke: $green;
  }
  .button-text {
    color: #fff;
    font-family: $weiss;
    font-size: 12px;
    line-height: 32px;
    position: relative;
    top: -41px;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -165;
    stroke-width: 5px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper-one:hover .button-shape, .svg-wrapper-two:hover .button-shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

//images
.img-flex {
  width: 100%;
}

.hero-img {
  height: 300px;
  background-color: #4b4e53;
  @include bp(tablet) {
    height: 500px;
  }
  img {
    height: 300px;
    @include bp(phone) {
      width: 100%;
    }
    @include bp(tablet) {
      height: 500px;
    }
  }
}

.img-banner {
  height: 130%;
  transform: translateX(-16%);
  @include bp(tablet) {
    transform: translateX(0);
  }
  @include bp(desktop) {
    height: auto;
    width: 100vw;
    transform: translateX(0);
  }
}

//gifs
.gif-one {
  display: none;
}

.gif-two {
  display: none;
}

.gif-three {
  display: none;
}

.gif-four {
  display: none;
}
