footer {
  text-align: center;
  background-color: $navy;
  padding: 1.5rem 1rem;
  position: relative;
  height: 170px;
  @include bp(tablet) {
    padding: 0;
    height: 80px;
  }
  .w-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem;
    svg {
      width: 55px;
      @include bp(tablet) {
        margin: 0;
      }
    }
    @include bp(tablet) {
      top: 1.2rem;
      margin-bottom: 0;
    }
  }
  .soshmeeds {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    @include bp(tablet) {
      left: 75%;
      bottom: 2rem;
      width: 47%;
    }
    @include bp(desktop) {
    }
    .sosh-link {
      text-decoration: none;
      font-size: 12px;
      color: $m-grey;
      font-weight: lighter;
      padding: 0 1.5rem;
      &:hover {
        color: #fff;
      }
      @include bp(tablet) {

      }
    }
  }
  .footer-copyright {
    font-size: 8px;
    font-weight: lighter;
    color: $m-grey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4rem;
    @include bp(tablet) {
      padding-bottom: 0;
      top: 3.5rem;
    }
    @include bp(desktop) {
    }
  }
  .footer-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.3rem;
    width: 100%;
    .footer-link {
      font-size: 12px;
      padding: 0 1.5rem;
      text-decoration: none;
      color: $m-grey;
      &:hover {
        color: #fff;
      }
      @include bp(tablet) {

      }
    }
    @include bp(tablet) {
    left: 25%;
    bottom: 2rem;
    }
    @include bp(desktop) {

    }
  }
}
