footer {
  position: relative;
  background-color: $navy;
  padding: 1rem 1rem;
  @include bp(tablet) {
    padding: 4rem;
  }
  .cw-logo {
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  .soshmeeds {
    text-align: right;
    width: 60%;
    margin: 0 0 0 auto;
    .sosh-link {
      font-size: 12px;
      color: #fff;
      font-weight: lighter;
      display: inline-block;
      margin: 5px 5px;
    }
  }
  .footer-text {
    width: 30%;
    display: inline-block;
    color: #fff;
    .copyright {
      font-size: 8px;
      margin-bottom: 1rem;
    }
  }
}
