.investor-page {
  .bg-video {
    height: 600px;
  }
  .hero-header {
    text-transform: none;
  }
  .hero-sub {
    color: $navy;
  }
  .deck-link {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: opacity .2s linear;
    &:hover {
      opacity: .9;
    }
    h2 {
      @include hero-text;
      width: 80%;
      font-size: 36px;
      text-align: center;
      @include bp(tablet) {
        font-size: 48px;
      }
    }
    img {
      width: 200%;
      transform: translateX(-25%);
      @include bp(tablet) {
        width: 100%;
        transform: translateY(0%);
      }
    }
  }
}

.news-page {
  margin-top: -4px;
  .para-header-alt {
    padding: 0 2rem;
    text-align: center;
    color: $green;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 2rem;
    line-height: 1.1;
    @include bp(tablet) {
      font-size: 48px;
      width: 100%;
    }
  }
}
