nav {
	position: fixed;
	height: 70px;
	z-index: 1000000;
	width: 100%;
	transition: .2s all linear;
}

.cw-logo {
	width: 100px;
	position: absolute;
	left: 2rem;
	top: 1.5rem;
	@include bp(phone) {
		left: 2rem;
	}
	@include bp(tablet) {
		left: 4rem;
	}
	@include bp(desktop) {
		left: 10rem;
	}
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	background-color: $navy;
	overflow-x: hidden;
	transition: all 0.3s ease-in;
	opacity: .95;
}

.overlay-content {
	padding-left: 1rem;
	position: relative;
	top: 25%;
	width: 100%;
	text-align: left;
	margin-top: 2em;
	opacity: 1;
	@include bp(phone) {
		padding-left: 2rem;
	}
	@include bp(tablet) {
		padding-left: 4rem;
	}
	@include bp(desktop) {
		padding-left: 10rem;
	}
}

.overlay a {
	padding: 10px;
	text-decoration: none;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	display: table;
	transition: all 0.2s ease-in-out;
  font-family: $rubik;
	@include bp(tablet) {
		font-size: 86px;
	}
	@include bp(desktop) {
		font-size: 100px;
	}
}

.overlay a:hover, .overlay a:focus {
	color: $green;
	outline: none;
}

.overlay .closebtn {
	position: absolute;
  top: -1px;
  right: 1px;
	font-size: 50px;
	@include bp(phone) {
		right: 1rem;
	}
	@include bp(tablet) {
		right: 3rem;
	}
	@include bp(desktop) {
		right: 9rem;
	}
}

.hamburger {
	position: fixed;
	z-index: 100;
	top: 1.6rem;
	right: 1rem;
	z-index: 1000;
	cursor: pointer;
	@include bp(phone) {
		right: 2rem;
	}
	@include bp(tablet) {
		right: 4rem;
	}
	@include bp(desktop) {
		right: 10rem;
	}
}

.ham-bars {
	width: 20px;
}
