nav {
	position: fixed;
	height: 70px;
	z-index: 1000000;
	width: 100%;
	transition: .2s all linear;
}

.cw-logo {
	width: 140px;
	z-index: 1000000000000;
	position: absolute;
	left: 1rem;
	top: 1.4rem;
	@include bp(phone) {
		left: 2rem;
	}
	@include bp(tablet) {
		left: 4rem;
	}
	@include bp(desktop) {
		left: 10rem;
	}
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	background-color: $navy;
	overflow-x: hidden;
	transition: all 0.3s ease-in;
}

.overlay-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	opacity: 1;
}

.overlay a {
	padding: 1rem 0;
	text-decoration: none;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.1s ease-in-out;
  font-family: $weiss;
	@include bp(tablet) {
		font-size: 44px;
		padding: 1.5rem 0;
	}
	@include bp(desktop) {
		font-size: 54px;
	}
}

.overlay a:hover, .overlay a:focus {
	background-color: $green;
	color: $navy;
	outline: none;
}

.overlay .closebtn {
	position: absolute;
	padding: 0;
  top: 10px;
  right: 10px;
	font-size: 50px;
	&:hover {
		background-color: transparent;
		color: #fff;
	}
	@include bp(phone) {
		right: 26px;
	}
	@include bp(tablet) {
		right: 58px;
	}
	@include bp(desktop) {
		right: 154px;
	}
}

.hamburger {
	position: fixed;
	z-index: 100;
	top: 1.6rem;
	right: 1rem;
	z-index: 1000;
	cursor: pointer;
	@include bp(phone) {
		right: 2rem;
	}
	@include bp(tablet) {
		right: 4rem;
	}
	@include bp(desktop) {
		right: 10rem;
	}
}

.ham-bars {
	width: 20px;
}

.stock-ticker {
	position: absolute;
	text-align: right;
	right: 4rem;
	top: 19px;
	@include bp(tablet) {
		right: 7rem;
		top: 25px;
	}
	@include bp(desktop) {
		right: 14rem;
		top: 25px;
	}
	.change {
		display: block;
		@include bp(tablet) {
			display: inline-block;
			margin-left: 1.5rem;
		}
	}
	div {
		display: inline-block;
		font-size: 9px;
		font-family: $weiss;
		font-weight: bold;
		color: #fff;
		@include bp(tablet) {
			font-size: 14px;
		}
	}
}

.arrows {
	div {
		display: none;
		width: 10px;
		position: absolute;
		right: 7.5rem;
		top: 29px;
		@include bp(tablet) {
			top: 24px;
			right: 12.5rem;
		}
		@include bp(desktop) {
			top: 25px;
			right: 19.5rem;
		}
	}
}
