.subpage-header {
  background-color: $navy;
  padding-top: 100px;
  .para-header-alt {
    text-transform: uppercase;
  }
  .para-body {
    color: #fff;
  }
}

.subpage-body {
  padding: 1rem;
  @include bp(phone) {
    padding: 0 2rem;
  }
  @include bp(tablet) {
    padding: 0 4rem;
    text-align: center;
  }
  @include bp(desktop) {
    padding: 4rem 10rem;
  }
  .article-list {
    vertical-align: top;
    @include bp(tablet) {
      display: inline-block;
      width: 48%;
      padding: 0 4rem;
      text-align: left;
    }
    ul {
      li {
        margin-bottom: 2rem;
        .article-small {
          margin-bottom: 8px;
          font-size: 12px;
          color: $green;
        }
        .article-large {
          margin-top: 5px;
          margin-bottom: 10px;
          a {
            line-height: 1.4;
            text-decoration: none;
            color: $navy;
          }
        }
        .article-link {
          text-decoration: none;
          color: $green;
          font-size: 12px;
        }
      }
    }
  }
}

.pre-footer {
  padding: 1rem 1rem;
  text-align: center;
  @include bp(phone) {
    padding: 2rem 2rem;
  }
  @include bp(tablet) {
    padding: 4rem 4rem;
  }
  @include bp(desktop) {
    padding: 4rem 10rem;
  }
  .pre-footer-header {
    padding-top: 3rem;
    border-top: 1px solid $green;
    text-align: center;
    font-size: 36px;
    color: $green;
    margin-bottom: 2rem;
  }
  .key-contact {
    margin: 0 auto 2rem auto;
    max-width: 500px;
    @include bp(tablet) {
      display: inline-block;
      width: 48%;
      padding: 0 4rem;
      text-align: left;
      vertical-align: top;
    }
    @include bp(desktop) {
      padding: 0 0 0 4rem;
    }
    .article-large {
      margin-bottom: 5px;
      font-size: 14px;
      a {
        color: $m-grey;
        text-decoration: none;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

// typography
.subpage-text-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  @include bp(tablet) {
    text-align: left;
    font-size: 22px;
  }
}
