@import "mixins";
$rubik: 'Rubik', sans-serif;

.hero-header {
  color: $green;
  font-size: 42px;
  margin-bottom: 1rem;
  font-weight: light;
  text-transform: uppercase;
  @include bp(tablet) {
    font-size: 46px;
  }
}
.hero-sub {
  color: #fff;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.hero-text {
  @include hero-text;
  width: 100%;
  z-index: 100;
  padding: 0 1rem;
  @include bp(phone) {
    padding: 0 2rem;
  }
  @include bp(tablet) {
    padding: 0 4rem;
  }
}

.text-huge-green {
  padding: 0 1rem 1rem 1rem;
  color: $green;
  @include bp(phone) {
    padding: 0 2rem 2rem 2rem;
  }
  @include bp(tablet) {
    padding-left: calc(50% + 2rem);
  }
  .header-huge {
    font-size: 80px;
    margin-bottom: 1rem;
  }
  .content-huge {
    font-size: 22px;
    margin-bottom: 2rem;
  }

}
