@import "mixins";
$rubik: 'Rubik', sans-serif;

.hero-header {
  color: $green;
  font-size: 42px;
  margin-bottom: 1rem;
  font-weight: light;
  text-transform: uppercase;
}
.hero-sub {
  color: #fff;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.hero-text {
  @include hero-text;
  width: 90%;
  z-index: 100;
}

.text-huge-green {
  padding: 0 1rem 1rem 1rem;
  color: $green;
  .header-huge {
    font-size: 80px;
    margin-bottom: 1rem;
  }
  .content-huge {
    font-size: 22px;
    margin-bottom: 2rem;
  }

}
