{% include head.html %}

<body>

  {% include nav.html %}

  <main>

    {{ content }}

  </main>

  {% include footer.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://rawgithub.com/RolandBanguiran/highstock-current-price-indicator/master/current-price-indicator.js"></script>
</body>
</html>
